<div class='container'>
  {% for block in blocks %}
    {%- liquid
      assign case_title = block.settings.menuname | downcase
      assign lower_title = title | downcase
    -%}
    {% if lower_title == case_title %}
      {% case block.type %}
        {% when 'megamenu-product' %}
          {%- liquid
            assign collection = collections[block.settings.collection]
            assign product = collections[block.settings.collection.products]
          -%}
          <div class='wbmgproduct'>
            <div class='grid'>
              {%- if collection != blank -%}
                {% for product in collection.products limit: block.settings.products_to_show %}
                  <li class='grid__item'>
                    {%- if product and product != empty -%}
                      {%- liquid
                        assign ratio = 1
                        if product.featured_media and block.settings.image_ratio == 'portrait'
                          assign ratio = 0.8
                        elsif product.featured_media and block.settings.image_ratio == 'adapt'
                          assign ratio = product.featured_media.aspect_ratio
                        endif
                        if ratio == 0 or ratio == null
                          assign ratio = 1
                        endif
                      -%}
                      <div class='card-wrapper wbproduct-container product-card-wrapper'>
                        <div
                          class='
                            card gradient card--{{ settings.card_style }}
                            {% if product.featured_media == blank and settings.card_style == 'card' %} blank__image {% endif %}
                            {% if product.featured_media %} card--media{% else %} card--text{% endif %}
                            {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
                            {% if extend_height %} card--extend-height{% endif %}
                            {% if product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
                          '
                          style='--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;'
                        >
                          <div
                            class='card__inner wbimgblock {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %} {% if settings.card_style != 'standard' or product.featured_media or settings.card_style == 'standard' %} ratio {% endif %} '
                            style='--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;'
                          >
                            {%- if product.featured_media -%}
                              <div id='webipro-{{ section.id }}-{{ product.id }}' class='card__media'>
                                {%- assign media = product.selected_or_first_available_variant.featured_media -%}
                                <div
                                  class='product__media-item'
                                  data-media-id='{{ section.id }}-{{ product.id }}-{{ media.id }}'
                                >
                                  {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                                  <a
                                    href='{{ product.url | append: '?variant=' | append: product.selected_or_first_available_variant.id | default: '#' }}'
                                    title='{{ product.title | escape }}'
                                    class='media media--transparent media--{{ media_size }} media--hover-effect'
                                    {% if media_size == 'adapt' and product.featured_media %}
                                      style='padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;'
                                    {% endif %}
                                  >
                                    <img
                                      srcset='
                                        {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                        {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                        {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                        {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                        {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                        {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                        {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
                                      '
                                      src='{{ product.featured_media | image_url: width: 533 }}'
                                      sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 992px) calc((100vw - 130px) / 4), (min-width: 768px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)'
                                      alt='{{ product.featured_media.alt | escape }}'
                                      class='motion-reduce'
                                      {% unless lazy_load == false %}
                                        loading='lazy'
                                      {% endunless %}
                                      width='{{ product.featured_media.width }}'
                                      height='{{ product.featured_media.height }}'
                                    >
                                    {%- if product.media[1] != null -%}
                                      <img
                                        srcset='
                                          {%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                                          {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                                          {% if product.media[1].width >= 493 %}{{ product.media[1] | image_url: width: 493 }} 493w,{% endif %}
                                          {% if product.media[1].width >= 600 %}{{ product.media[1] | image_url: width: 600 }} 600w,{% endif %}
                                          {% if product.media[1].width >= 713 %}{{ product.media[1] | image_url: width: 713 }} 713w,{% endif %}
                                          {% if product.media[1].width >= 823 %}{{ product.media[1] | image_url: width: 823 }} 823w,{% endif %}
                                          {% if product.media[1].width >= 992 %}{{ product.media[1] | image_url: width: 992 }} 992w,{% endif %}
                                          {{ product.media[1] | image_url }} {{ product.media[1].width }}w
                                        '
                                        src='{{ product.media[1] | image_url: width: 370 }}'
                                        alt='{{ product.media[1].alt | escape }}'
                                        sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 992px) calc((100vw - 130px) / 4), (min-width: 768px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)'
                                        class='motion-reduce img-fluid mx-auto lazyload'
                                        loading='lazy'
                                        width='{{ product.media[1].width }}'
                                        height='{{ product.media[1].height }}'
                                      >
                                    {%- endif -%}
                                  </a>
                                </div>

                                {%- liquid
                                  assign media_to_render = product.featured_media.id
                                  for variant in product.variants
                                    assign media_to_render = media_to_render | append: variant.featured_media.id | append: ' '
                                  endfor
                                -%}
                                {%- for media in product.media -%}
                                  {%- if media_to_render contains media.id
                                    and media.id != product.selected_or_first_available_variant.featured_media.id
                                  -%}
                                    <div
                                      class='product__media-item'
                                      data-media-id='{{ section.id }}-{{ product.id }}-{{ media.id }}'
                                    >
                                      <a
                                        href='{{ product.url | append: '?variant=' | append: product.selected_or_first_available_variant.id | default: '#' }}'
                                        title='{{ product.title | escape }}'
                                        class='media media--transparent media--{{ media_size }} media--hover-effect'
                                        {% if media_size == 'adapt' and product.featured_media %}
                                          style='padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;'
                                        {% endif %}
                                      >
                                        <img
                                          class='img-fluid mx-auto lazyload'
                                          srcset='
                                            {%- if media.preview_image.width >= 165 -%}{{ media.preview_image | image_url: width: 165 }} 165w,{%- endif -%}
                                            {%- if media.preview_image.width >= 360 -%}{{ media.preview_image | image_url: width: 360 }} 360w,{%- endif -%}
                                            {% if media.preview_image.width >= 493 %}{{ media.preview_image | image_url: width: 493 }} 493w,{% endif %}
                                            {% if media.preview_image.width >= 600 %}{{ media.preview_image | image_url: width: 600 }} 600w,{% endif %}
                                            {% if media.preview_image.width >= 713 %}{{ media.preview_image | image_url: width: 713 }} 713w,{% endif %}
                                            {% if media.preview_image.width >= 823 %}{{ media.preview_image | image_url: width: 823 }} 823w,{% endif %}
                                            {% if media.preview_image.width >= 992 %}{{ media.preview_image | image_url: width: 992 }} 992w,{% endif %}
                                            {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                                            {% if media.preview_image.width >= 1206 %}{{ media.preview_image | image_url: width: 1206 }} 1206w,{% endif %}
                                            {% if media.preview_image.width >= 1346 %}{{ media.preview_image | image_url: width: 1346 }} 1346w,{% endif %}
                                            {% if media.preview_image.width >= 1426 %}{{ media.preview_image | image_url: width: 1426 }} 1426w,{% endif %}
                                            {% if media.preview_image.width >= 1646 %}{{ media.preview_image | image_url: width: 1646 }} 1646w,{% endif %}
                                            {% if media.preview_image.width >= 1946 %}{{ media.preview_image | image_url: width: 1946 }} 1946w,{% endif %}
                                            {{ media.preview_image | image_url }} {{ media.preview_image.width }}w
                                          '
                                          src='{{ media.preview_image | image_url: width: 370 }} 370w'
                                          sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 992px) calc((100vw - 130px) / 4), (min-width: 768px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)'
                                          loading='lazy'
                                          width='{{ media.preview_image.width }}'
                                          height='{{ media.preview_image.height }}'
                                          alt='{{ media.preview_image.alt | escape }}'
                                        >
                                        {%- if product.media[1] != null and show_secondary_image -%}
                                          <img
                                            srcset='
                                              {%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                                              {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                                              {% if product.media[1].width >= 493 %}{{ product.media[1] | image_url: width: 493 }} 493w,{% endif %}
                                              {% if product.media[1].width >= 600 %}{{ product.media[1] | image_url: width: 600 }} 600w,{% endif %}
                                              {% if product.media[1].width >= 713 %}{{ product.media[1] | image_url: width: 713 }} 713w,{% endif %}
                                              {% if product.media[1].width >= 823 %}{{ product.media[1] | image_url: width: 823 }} 823w,{% endif %}
                                              {% if product.media[1].width >= 992 %}{{ product.media[1] | image_url: width: 992 }} 992w,{% endif %}
                                              {{ product.media[1] | image_url }} {{ product.media[1].width }}w
                                            '
                                            src='{{ product.media[1] | image_url: width: 370 }}'
                                            alt='{{ product.media[1].alt | escape }}'
                                            sizes='(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 992px) calc((100vw - 130px) / 4), (min-width: 768px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)'
                                            class='motion-reduce img-fluid mx-auto lazyload'
                                            loading='lazy'
                                            width='{{ product.media[1].width }}'
                                            height='{{ product.media[1].height }}'
                                          >
                                        {%- endif -%}
                                      </a>
                                    </div>
                                  {%- endif -%}
                                {%- endfor -%}
                              </div>
                            {%- endif -%}
                          </div>

                          <div class='wbproductdes card__content'>
                            <product-info
                              id='ProductInfo-{{ section.id }}-{{ product.id }}'
                              data-section='{{ section.id }}-{{ product.id }}'
                              data-url='{{ product.url }}'
                            >
                              <div class='card__information'>
                                {%- if show_vendor -%}
                                  <div class='product__vendor'>
                                    {{ product.vendor }}
                                  </div>
                                {%- endif -%}
                                <h3
                                  class='card__heading{% if product.featured_media or settings.card_style == 'standard' %} h5{% endif %}'
                                  {% if product.featured_media or settings.card_style == 'card' %}
                                    id='title-{{ section_id }}-{{ product.id }}'
                                  {% endif %}
                                >
                                  <a
                                    href='{{ product.url | default: '#' }}'
                                    id='CardLink-{{ section_id }}-{{ product.id }}'
                                    class='full-unstyled-link'
                                    aria-labelledby='CardLink-{{ section_id }}-{{ product.id }} Badge-{{ section_id }}-{{ product.id }}'
                                  >
                                    {{ product.title | escape | capitalize }}
                                  </a>
                                </h3>
                                {%- if enable_listdesc != blank -%}
                                  <p class='wblistpdesc'>
                                    {{ product.description | strip_html | truncatewords: 26 }}
                                  </p>
                                {%- endif -%}
                                <div class='card-information'>
                                  <span class='caption-large light'>{{ block.settings.description | escape }}</span>
                                  <div
                                    class='no-js-hidden wbhprice'
                                    id='price-{{ section.id }}-{{ product.id }}'
                                    role='status'
                                    {{ block.shopify_attributes }}
                                  >
                                    {%- render 'price', product: product, use_variant: false, show_badges: true -%}
                                  </div>
                                  {%- if show_rating and product.metafields.reviews.rating.value != blank -%}
                                    <span class='shopify-product-reviews-badge' data-id='{{ product.id }}'></span>
                                  {% endif %}
                                </div>
                              </div>
                            </product-info>
                          </div>
                        </div>
                      </div>
                    {%- endif -%}
                  </li>
                {% endfor %}
              {% else %}
                {%- for i in (1..5) -%}
                  <li class='grid__item'>
                    <div class='card-wrapper wbproduct-container product-card-wrapper'>
                      <div class=' card '>
                        {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
                        {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
                        {% render 'product-card-placeholder', placeholder_image: placeholder_image %}
                      </div>
                    </div>
                  </li>
                {%- endfor -%}
              {% endif %}
            </div>
          </div>

        {% when 'megamenu-gallery' %}
          <div class='{%- for i in (1..4) limit: 1 -%} {% capture gallerytext %}wb{{ i }}_text{% endcapture %} {%- if block.settings[gallerytext] != blank -%} image_label {% endif %}{% endfor %}wbmenugallery grid grid--4-col-desktop grid--2-col-tablet-down image--{{ block.settings.image_height }}'>
            {% for i in (1..4) %}
              {% capture galleryimg %}wb{{ i }}_img{% endcapture %}
              {% capture gallerylink %}wb{{ i }}_link{% endcapture %}
              {% capture gallerytext %}wb{{ i }}_text{% endcapture %}
              {% if galleryimg or block.settings[gallerylink].size > 0 %}
                <div class='wp_menu_banner grid__item text-center'>
                  {% if block.settings[gallerylink] -%}
                    <a
                      href='{{ block.settings[gallerylink] }}'
                      class='focus-inset'
                      title='{{ block.settings[gallerytext] }}'
                    >
                  {%- endif %}
                  <div
                    class='wbmenugllazy media media--transparent media--{{ block.settings.image_height }}'
                    {% if block.settings.image_height == 'adapt' and block.settings[galleryimg] %}
                      style='padding-bottom: {{ 1 | divided_by: block.settings[galleryimg].aspect_ratio | times: 100 }}%;'
                    {% endif %}
                    {% if block.settings.image_height == 'adapt' and block.settings[galleryimg] == blank %}
                      style='padding-bottom: 100%;'
                    {% endif %}
                  >
                    {% if block.settings[galleryimg] %}
                      {{
                        block.settings[galleryimg]
                        | image_url: width: 370
                        | image_tag:
                          loading: 'lazy',
                          class: 'img-fluid',
                          sizes: '100vw',
                          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                      }}
                    {% else %}
                      {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
                      {%- assign placeholder_image = 'hero-apparel-' | append: placeholder_image_index -%}
                      <div class='dummysvg'>{{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}</div>
                    {% endif %}
                  </div>
                  {% if block.settings[gallerytext].size > 0 %}
                    <p>{{ block.settings[gallerytext] }}</p>
                  {% endif %}
                  {% if block.settings[gallerylink] %}</a>{% endif %}
                </div>
              {% endif %}
            {%- endfor -%}
          </div>

        {% when 'megamenu-blog' %}
          <div class='wbmgblgtop grid'>
            {%- if block.settings.blog != blank -%}
              {% for article in blogs[block.settings.blog].articles limit: block.settings.blog_to_show %}
                <div class='wbhblog'>
                  {%- if article.image -%}
                    <div class='blog_img global-media-settings'>
                      <a href='{{ article.url }}' title='{{ article.title }}' class='focus-inset'>
                        <img
                          loading='lazy'
                          class='lazyload img-fluid mx-auto'
                          srcset='
                            {%- if article.image.src.width >= 375 -%}{{ article.image.src | image_url: width: 375 }} 375w,{%- endif -%}
                            {%- if article.image.src.width >= 550 -%}{{ article.image.src | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if article.image.src.width >= 750 -%}{{ article.image.src | image_url: width: 750 }} 750w,{%- endif -%}
                            {%- if article.image.src.width >= 1100 -%}{{ article.image.src | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {%- if article.image.src.width >= 1780 -%}{{ article.image.src | image_url: width: 1780 }} 1780w,{%- endif -%}
                            {%- if article.image.src.width >= 2000 -%}{{ article.image.src | image_url: width: 2000 }} 2000w,{%- endif -%}
                            {%- if article.image.src.width >= 3000 -%}{{ article.image.src | image_url: width: 3000 }} 3000w,{%- endif -%}
                            {%- if article.image.src.width >= 3840 -%}{{ article.image.src | image_url: width: 3840 }} 3840w,{%- endif -%}
                            {{ article.image.src | image_url }} {{ article.image.src.width }}w
                          '
                          src='{{ article.image.src | image_url: width: 1000, crop: 'center' }}'
                          alt='{{ article.image.alt }}'
                          width='{{ article.image.src.width }}'
                          height='{{ article.image.src.height }}'
                        >
                      </a>
                    </div>
                  {%- endif -%}
                  <div class='blog_info'>
                    <div class='blog_title'>
                      <a href='{{ article.url }}' class='focus-inset'>{{ article.title | truncate: 60 }}</a>
                    </div>
                    <p class='blog_date'>
                      <span class='article_day'>
                        {%- render 'icon-calendar' %}
                        {{ article.published_at | date: '%d %b %y' -}}
                      </span>
                    </p>
                  </div>
                </div>
              {% endfor %}
            {%- else -%}
              {% for i in (1..4) %}
                <div class='wbhblog'>
                  <div class='blog_img'>
                    {%- assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 -%}
                    {%- assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index -%}
                    <div class='dummysvg'>{{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}</div>
                  </div>
                  <div class='blog_info'>
                    <div class='blog_title'>
                      <a href='#'>Example blog post {{ i }}</a>
                    </div>
                    <p class='blog_date'><span class='article_day'>Oct 22, 2022</span></p>
                  </div>
                </div>
              {% endfor %}
            {%- endif -%}
          </div>
      {% endcase %}
    {% endif %}
  {% endfor %}
</div>
