{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    }
  }
{%- endstyle -%}
{%- liquid
  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider
    assign show_desktop_slider = true
  endif
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile
    assign show_mobile_slider = true
  endif
-%}
<div class='wblogosd color-{{ section.settings.color_scheme }} gradient isolate'>
  <div class='slider-arrow--inline page-width wblogos section-{{ section.id }}-padding {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'>
    {% if section.settings.title != blank %}
      <h2 class='heading {{ section.settings.head_align }} inline-richtext {{ section.settings.heading_size }}'>
        <span>{{ section.settings.title }}</span>
      </h2>
    {% endif %}
    <slideshow-component>
      <div
        class='grid--{{ section.settings.columns_desktop }}-col-desktop grid {% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet {% endif %}{% endif %}'
        id='Slider-{{ section.id }}'
        {% if show_mobile_slider or show_desktop_slider %}
          data-autoplay='{{ section.settings.auto_rotate }}' data-speed='{{ section.settings.change_slides_speed }}'
        {% endif %}
        aria-live='polite'
        aria-atomic='true'
      >
        {%- for block in section.blocks -%}
          <div
            class='grid__item slideshow__slide slider__slide {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'
            id='Slide-{{ section.id }}-{{ forloop.index }}'
            {% if settings.animations_reveal_on_scroll %}
              data-cascade style='--animation-order: {{ forloop.index }};'
            {% endif %}
          >
            {% if block.settings.link != blank -%}
              <a
                href='{{ block.settings.link }}'
                title='{{ 'wbcustomlabel.wballtext.banner' | t }}'
                class='focus-inset'
              >
            {%- endif %}
            <div class='global-media-settings'>
              {% if block.settings.image != blank %}
                <img
                  loading='lazy'
                  src='{{ block.settings.image | image_url: width: 165, height: 165 }}'
                  class='logo-bar__image img-fluid mx-auto lazyload'
                  alt='{{ block.settings.image.alt }}'
                  height='165'
                  width='165'
                >
              {% else %}
                {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
                <div class='dummysvg'>{{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}</div>
              {% endif %}
            </div>
            {% if block.settings.link != blank %}</a>{% endif %}
          </div>
        {%- endfor -%}
      </div>
      {%- if section.blocks.size > 1 -%}
        <div class='slider-buttons'>
          {%- if section.settings.auto_rotate -%}
            <button
              type='button'
              class='focus-inset slideshow__autoplay hidden'
              aria-label='{{ 'sections.slideshow.pause_slideshow' | t }}'
            >
              {{ 'sections.slideshow.pause_slideshow' | t }}
            </button>
          {%- endif -%}
        </div>
      {%- endif -%}

      <div class='{% if section.settings.auto_rotate == true %} logohidebtn {% endif %}'>
        <div class='wbhomesbtn no-js-hidden {% unless show_desktop_slider and section.blocks.size > section.settings.columns_desktop %} desktop-arrows-hide {% endunless %}{% unless show_mobile_slider %} mobile-arrows-hide {% endunless %}'>
          <button
            type='button'
            class='button slider-button slider-button--prev focus-inset'
            name='previous'
            aria-label='{{ 'general.slider.previous_slide' | t }}'
            aria-controls='Slider-{{ section.id }}'
            data-step='1'
          >
            {% render 'icon-caret' %}
          </button>
          <button
            type='button'
            class='button slider-button slider-button--next focus-inset'
            name='next'
            aria-label='{{ 'general.slider.next_slide' | t }}'
            aria-controls='Slider-{{ section.id }}'
            data-step='1'
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      </div>
    </slideshow-component>
  </div>
</div>

{% schema %}
{
  "name": "Logo list",
  "tag": "section",
  "class": "spaced-section",
  "max_blocks": 12,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "head_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.featured-collection.settings.head_alignment.options1.label"
        },
        {
          "value": "center",
          "label": "t:sections.featured-collection.settings.head_alignment.options2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.featured-collection.settings.head_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": true
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 3
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 3,
      "max": 7,
      "step": 1,
      "default": 6,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}
